* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    display: flex;
    justify-content: space-evenly;    
    list-style: none;
    gap: 95px;
} 

@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/source-sans-pro/SourceSansPro-Regular.otf') format('truetype');
}

a:link {
    text-decoration: none;
    color: white;
    font-family: Source Sans Pro;
}

.navigation-menu {
    display: flex;
    grid-row: auto;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 8.5rem;
}

.background-container {
    position: relative;
    min-height: 100vh;
    background-image: url("images/background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

li { 
    font-size: 12px;
    font-weight: bold;
}

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.banner-content-one h1{
    color: inherit;
    font-family: inherit;
    font-size: 121px;
    font-weight: bold;
    text-align: center;
    word-spacing: 15px;
}

.banner-content-one {
    text-align: center;
    font-family: 'Source Sans Pro';
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(190px);
}

.banner-tags {
    display: flex;
    gap: 50px;
    font-family: inherit;
    font-weight: bold;
    margin-bottom: 30px;
}

button {
    background-color: #c271ff;
    color: inherit;
    font-family: inherit;
    padding: 15px;
    border-radius: 50px;
}