* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ul {
    display: flex;
    justify-content: space-evenly;    
    list-style: none;
    gap: 95px;
} 

@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/source-sans-pro/SourceSansPro-Regular.otf') format('truetype');
}

a:link {
    text-decoration: none;
    color: white;
    font-family: 'Source Sans Pro';
}

.navigation-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 8.5rem;
}

.background-container {
    position: relative;
    min-height: 100vh;
    background-image: url("images/background.png");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;

}

li { 
    font-size: 12px;
    font-weight: bold;
}

.banner-content-one h1{
    color: inherit;
    font-family: inherit;
    font-size: 121px;
    font-weight: bold;
    text-align: center;
    word-spacing: 15px;
}

.banner-content-one {
    text-align: center;
    font-family: 'Source Sans Pro';
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

.banner-tags {
    display: flex;
    gap: 50px;
    font-family: inherit;
    font-weight: bold;
    margin-bottom: 30px;
}

button {
    background-color: #c271ff;
    color: inherit;
    font-family: inherit;
    padding: 15px;
    border-radius: 50px;
    border: none;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.952);
}

.sub-heading {
    text-align: center;
    color: white;
    font-family: 'Source Sans Pro';
    font-size: 32px;
    font-weight: lighter;
    margin-bottom: 100px;
    margin-top: 100px;
}

.learn {
    font-weight: bold;
    color: #c271ff;
}

.banner-content-two{
    padding-bottom: 100px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: white;
    text-align: center;
    font-size: 16px;
    font-style: italic;
    font-family: 'Source Sans Pro';
}

.feature-box-two img{
    border-radius: 100px;
    border: none;

}

.quote-container {
    background-color: #c271ff;
    padding: 80px;

}

.quote-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.quote-feature {
    color: white;
}

blockquote {
    white-space: pre-line;
}

.quote {
    margin-top: 20px;
}

.video-feature-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.video-heading {
    text-align: center;
    font-family: 'Source Sans Pro';
    font-size: 32px;
    font-weight: lighter;
    margin-bottom: 80px;
    color: #333333;
}

.video-container {
    padding: 70px;
}

.popular {
    font-weight: bold;
    color: #c271ff;
}

.video-feature {
    position: relative;
    display: inline-grid;
    place-items: center;
    gap: 20px;
}

.feature-image {
    grid-area: 1 / 1;
    width: 100%;
    height: auto;

}
 
.play-button {
    grid-area: 1 / 1;
    z-index: 2;
    width: 50px;
    height: 50px;
}

.video-paragraph {
    font-family: 'Source Sans Pro';
    color: #7a7777;
    font-size: 14px;
    line-height: 1.5;
    justify-self: start;
}

.video-second-heading {
    font-family: 'Source Sans Pro';
    font-size: 16px;
    font-weight: bold;
    justify-self: start;
}

.author-box {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-self: start;
    margin-top: 10px;
}

.author-box img {
    width: 70px;
    height: 70px;
}

.rating-box {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-self: start;
    margin-top: 10px;
}

.video-third-heading, .rating-box p {
    color: #c271ff;
}

