body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2;
    position: relative;
}

aside {
    flex: 1;
}

article, aside {
    overflow-y: auto;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}